@import 'layouts/layouts-dir'
@import 'modules/modules-dir'
@import 'plugins/plugins-dir'
@import 'helpers/helpers'

// Font Declarations    
@include font-face("Circular Std Bold", "/fonts/CircularStd-Bold")    
@include font-face("Avant Garde Gothic", "/fonts/Avant Garde Gothic")

.clearFix
    @include clearfix


body 
    background-color: $white    
    font-family: "Circular Std Bold", Helvetica, Arial, sans-serif
    margin: 0

header
    background-color: $light-purple
    color: $white
    z-index: 9999

    .title-container
        padding: 30px 20px
        text-align: left

        h1
            font-family: "Circular Std Bold", "Helvetica", "Arial", sans-serif 
            font-size: 34px

    .nav-container
        background-color: $med-purple
        float: left
        display: block
        width: 100%

        ul
            float: left
            list-style: none
            @include display(flex)
            @include flex-direction(row)
            margin: 0
            padding: 0
            outline: none

            li
                line-height: 50px
                font-size: 18px
                font-weight: 300
                color: $white
                padding: 0 20px
                background-color: $med-purple
                @include transition(background-color, 0.5s, ease)

                &:hover
                    background-color: tint($med-purple, 10)



.app-info
    @include outer-container(100%)
        
    .location-input
        // Later addition; maybe just stick with the office toggling
        
    .main-results
        max-width: 800px
        margin: 0 auto
        @include justify-content(center)
        
        h1
            padding: 0 0 0px 60px
            margin: 0
          
            .bar 
                font-size: 120%
                color: $accent
                padding: 0 0 0 60px !important
                margin-bottom: 0 !important
                font-weight: bold
            
        .weather-headline
            @include outer-container
            @include justify-content(center)
                
            display: block
            margin-bottom: 40px
            
            h6
                font-size: 13px
                line-height: 20px
                padding-top: 0
                margin: 0
                float: right
            
            .info-box
                @include media($tablet)
                    @include span-columns(6)
                @include span-columns(12)
                
                background-color: $accent
                border: 2px solid tint($light-purple, .8)
                border-radius: 4px
                padding: 20px
                @include display(flex)
                @include flex-direction(row)
                    
                .current-temp
                    @include span-columns(3 of 6)
                    text-align: center
                    border-right: 1px solid tint($light-purple, .8)
                    padding: 20px
                    font-size: 28px
                    line-height: 32px
                    @include display(flex)


                .current-precip
                    @include span-columns(3 of 6)
                    text-align: center
                    padding: 20px
                    font-size: 28px
                    line-height: 32px
                    @include display(flex)

            .current-summary
                @include media($tablet)
                    @include span-columns(6)
                @include span-columns(12)
                font-size: 24px
                padding: 20px
                @include display(flex)
                float: none
                
                
        .hourly-results
            @include display(flex)
            @include justify-content(center)
                
            margin: 0 auto
            float: none
            
            .hour
                @include span-columns(3)
                
                border: 2px solid tint($light-purple, .8)
                border-radius: 4px
                padding: 20px
                @include display(flex)
                flex-direction: column
                
                h5, h6
                    @include display(flex)
                
                h5
                    font-size: 20px
                    line-height: 24px
                    margin: 10px 0
                
            .first-hour
                background-color: $accent
                
            .second-hour
                background-color: tint($accent, 25)
                    
            .third-hour
                background-color: tint($accent, 50)

            

footer
    background-color: $dark-purple
    color: #efefef
    height: 150px
    text-align: center
    
    h6 
        font-family: $helvetica
        font-size: 18px !important
        margin: auto 0

    h5
        font-style: italic
        font-size: 16px !important
        color: #cfcfcf

        a
            color: inherit
            text-decoration: none

@include media($tablet)
    .info-box
        @include flex-direction(row)